:root{
    --bgw:#fff;
    --bgn:#000;
    --bgr:#dfe0ff;
    --bgc:#eef3f7;
    --bxsg:0 0.07vw 0.11vw 0 #c4c5c6,0 0.06vw 0.16vw 0.06vw #e1e2e2;
    --bxs1:0.8vw 0.8vw 1.4vw #c8d0e7,-0.2vw -0.2vw 1.8vw #fff;
    --bxs2:0 0.18vw 0.37vw rgba(0,0,0,0.1);
    --tst:translateY(-.5vh);
    --tr5:all .5s ease-in-out;
    --crp:pointer;
    --bgr1:#f8fafc;
    --ffp:'Poppins',segoe ui;
    --ffr:'Rubik',segoe ui;
   }
   :root[data-theme="Paz"]{
    --bg:#d6f4ff;
    --bgb:#c2ecff;
    --bgs:#0EBEFF;
    --lko:#2563eb;
    --co1:#1976D2;
    --bxs:0 0.18vh 0.7vw 0 #57cfff,0 0.3vh 0.9vw 0 #b8ebff;
   }
   :root[data-theme="Dulce"]{
    --bg:#fef1f1;
    --bgb:#ffe5e8;
    --bgs:#ff808a;
    --lko:#d81b60;
    --co1:#ff3849;
    --co2:#ff5c69;
    --bxs:0 0.18vh 0.7vw 0 #ff99a1,0 0.3vh 0.9vw 0 #ffdbde;
   }
   :root[data-theme="Cielo"]{
    --bg:#e0ffe0;
    --bgb:#c2ffc4;
    --bgs:#38d63d;
    --lko:#00c853;
    --co1:#00b300;
    --co2:#29c72e;
    --bxs:0 0.18vh 0.7vw 0 #56dc5a,0 0.3vh 0.9vw 0 #c1edc0;
   }
   .th1{background:#0EBEFF}
   .th2{background:#ff5c69}
   .th3{background:#29c72e}
   .mthemes{
    top:35vh;
    position:absolute
   }
   .thm{
    width:2.6vw;
    height:3vw;
    display:flex;
    margin-left:-1vw
   }
   .thm:hover,.mtha{width:3.3vw;border-radius:.3vw}
   *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--ffp);
    font-size:.89vw
   }
   ::-webkit-scrollbar{
    display:none
   }
   body{
    background:var(--bgb)
   }
   .txc,.thr,.pdim,.gresult{
    text-align:center
   }
   .dpf{
    display:flex
   }
   .dpc,.pdim{
    display:flex;
    justify-content:center;
    align-items:center
   }
   .dpw{
    display:flex;
    justify-content:space-between;
    align-items:center
   }
   .dpcc{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column
   }
   .dpgc{
    display:grid;
    justify-content:center;
    justify-items:center;
    gap:2vh 0;
   }
   .dpg,.cols{
    display:grid
   }
   .dpg3{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1vw;
   }
   a{
    text-decoration:none
   }
   li{
    list-style:none
   }
   button,input,textarea,.txed{
    border:none;
    outline:none
   }
   input{
    border:.1vw solid var(--bgs);
    padding:1vh .5vw;
    border-radius:.25vw
   }
   [data-icon]{padding:1.1vh .2vw}
   [data-icon] svg{width:.7vw;}
   
   .tr5,.thm:hover,.mtha{
    cursor:pointer;
    transition:.5s ease-in-out
   }
   .bfl:hover,button:hover,.btha,.cvin span:hover{
    transform:var(--tst);
    transition:var(--tr5);
    cursor:var(--crp)
   }
   .mwp,.mhr{
    max-width:80vw;
    margin:auto;
    width:100%
   }
   .mhd,.mfo{
    background:var(--bg);
    box-shadow:var(--bxs)
   }
   .mhd{
    height:1.95vw;
   }
   .mfo{
    height:3vh;
    position:fixed;
    bottom:0;
    width:100%;
   }
   .mct{
    height:93vh;
    padding-top:.68vh
   }
   .mwb{
    height:100vh
   }
   .ftx{
    font-size:.58vw;
    margin:0 .2vw
   }
   a{
    color:var(--bgn)
   }
   img{
    max-width:100%
   }
   nav a{
    color:var(--bgn);
    padding:.85vh .38vw;
    letter-spacing:.02vw;
    font-size:.73vw;
   }
   .bhr{
    font-family:var(--ffr)
   }
   .bhr:hover,.bha{
    font-weight:500;
    border-bottom:.16vw solid var(--bgs)
   }
   .dpn,.foo,.mhr{
    display:none
   }
   .dpb,.hra{
    display:block
   }
   .mlg{
    font-weight:500
   }
   .bfl{
    top:0;
    right:4vw;
    font-weight:800;
    padding:.4vw 3vw;
    position:absolute;
   }
   .svi{
    width:.7vw;
    fill:var(--lko)
   }
   .mhr{
    background:var(--bgc);
    border-radius:.4vw;
    padding:2vh 1vw 3.8vh 1vw;
    box-shadow:var(--bxsg);
   }
   .thr{
    font-size:1.08vw
   }
   table{
    border-collapse:collapse;
    box-shadow:var(--bxs1)
   }
   th,td{
    padding:1vh 5vw
   }
   .tbh{
    background:var(--bgs);
    color:var(--bgw)
   }
   .thr{
    padding-bottom:1vh
   }
   .sc01 th,.sc01 td{
    padding:1.5vh 7vw
   }
   .vtd{
    background:var(--bgr1)
   }
   button{
    padding:1vh 2vw;
    background:var(--bgs);
    color:var(--bgw);
    border-radius:.2vw
   }
   button:hover,.btha,.shwa{
    background:var(--co1)
   }
   .txe{
    width:100%;
    min-height:25vh;
    min-width:100%;
    max-width:100%;
    border-radius:.3vw;
    padding:1vh 1vw;
    font-size:.9vw;
    line-height:1.18vw;
    border:.1vw solid var(--bgs);
    font-family:var(--ffr);
    letter-spacing:.02vw;
    max-height:70vh;
    overflow-x:auto
   }
   .txed{
    background:var(--bgw)
   }
   .mhr h3{
    padding-block:1.5vh .5vh
   }
   .txrs{
    background:var(--bgr1)
   }
   .mfrs{
    padding-block:1vh 1.8vw
   }
   .frc{
    font-size:0.8vw;
    padding:1vh 1.8vw;
    background:var(--bgs);
    color:var(--bgw);
    font-weight:600
   }
   .frd{
    background:var(--bgb);
    padding:1vh 2vw
   }
   .btn-group{
    margin-right:1vw;
   }
   .toolbar{
    padding-block:.5vh 1.5vh
   }
   #ki06{
    line-height:3.6vh
   }
   .dpx3{
    grid-template-columns:repeat(3,25.6vw);
    gap:.5vw
   }
   .dpx3 th,.dpx3 td{
    padding:0.6vh 2vw
   }
   .up08{
    margin-top:1vh
   }
   .conm{
    font-weight:600
   }
   .cobg{
    width:4vw;
    height:4vh
   }
   .cols{
    grid-template-columns:.07fr .09fr 1fr
   }
   .cols{
    align-items:center
   }
   .csd{
    padding:1vh 0
   }
   #dco,.dci{
    width:5vw;
    height:5vh;
    padding:0;
    border-radius:.25vw;
    margin:0 .25vw
   }
   .ccvs{
    position:relative;
    border:.024vw solid #ddd;
    box-shadow:var(--bxs2);
    overflow:hidden;
    border-radius:.4vw;
    background:var(--bgw);
   }
   #canvas{
    display:block;
    cursor:crosshair;
   }
   .cvls{
    flex-wrap:wrap;
    gap:1vh;
    background:#f5f5f5;
    padding:1.5vh .5vw;
    border-radius:.4vw;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
   }
   .cvtl{
    display:flex;
    gap:0 1vh;
    flex-wrap:wrap;
   }
   .cvls button{
    padding:1vh 1.5vw;
    font-size:.7vw;
   }
   .cvls button.active{
    background-color:var(--co1);
    box-shadow:inset 0 2px 4px rgba(0,0,0,0.2);
   }
   .cvls input{
    width:4vw;
   }
   .cvls input[type="color"],.cvls select{
    padding:0;
    border:none;
    cursor:pointer;
   }
   .cvls select:focus,.cvls option{
    border:none;
    outline:none;
   }
   .cvin label,.cvin span,.cvin input,.cvin select{
    font-size:.8vw;
    display:flex;
    margin-right:.15vw;
    align-items:center;
    padding:0 .18vw;
    height:4.2vh;
    justify-content:center;
    border-radius:.28vw;
    text-align:center;
   }
   .cvpi,.cvtx,.cvcp{
    width:1.9vw;
    box-shadow:var(--bxs2);
    background:var(--bgw);
   }
   .cvin input,.cvbs{
    margin-left:.2vw;
   }
   [data-shwg]{
       font-size: .75vw;
       padding: 1vh 1.5vw;
       margin-block: 2vh 2.5vh;
   }
   .gresult button{font-size:.7vw}
   .gresult{
       gap: 1vw;
       flex-wrap: wrap;
   }
   .gresult>*{
     flex-basis: calc(33.333% - 0.67vw);
   }
   [data-wel="user"] {
       font-size: .7vw;
       font-weight: 500;
   }
   .gresult .thr {
       font-size: .9vw;
       line-height: 1;
       text-transform: uppercase;
       padding: 0;
   }